{{define "head"}}{{end}}



{{define "body"}}

    <div class="wrapper">
        <div class="landerCenter" id="formWrapper">
            <h3>
                One Time Code
            </h3>
            <p class="pb-1">
                {{if .EmailNotReset}}
                    <small>
                        A one time code was previously sent to {{.ActivateEmail}} within the past 5 minutes. 
                        <br><br>
                        To request another code, wait five minutes before trying again.
                    </small>
                {{else}}
                    <small>
                        A one time code was sent to {{.ActivateEmail}}. 
                    </small>
                {{end}}

            </p>
            <form action="/otp" id="form14" method="post" onsubmit="submitLoader()">
                <div class="form-floating mb-3">
                    <input type="text" name="activateEmail" value="{{.ActivateEmail}}" hidden>
                    <input type="number" class="form-control" id="activateOTP" name="activateOTP" placeholder="Code" autofocus="autofocus" autocapitalize="off" autocomplete="off" required="">
                    <label for="activateOTP">Code</label>
                </div>
                <div class="form-floating mb-3 pt-3">
                    <button type="submit" class="btn btn-primary w-100" style="font-size: 0.98rem;">Submit</button>
                </div>     
            </form>
            <small>
                <p class="pt-3">
                    If you did not receive an email, check that your invite was sent to {{.ActivateEmail}}, if not <a href="/" class="text-reset">restart</a> with the invited email address.
                </p>
            </small>

        </div>
        <div class="landerCenter" id="loadingWrapper" style="display: none;">
            <p>
                <div class="spinner-border" role="status">
                </div>
                &emsp13;One moment, retrieving your records...
            </p>

        </div>

    </div>

    <script>
        function submitLoader() {
            document.getElementById("formWrapper").style.display = "none";
            document.getElementById("loadingWrapper").style.display = "block";
        }

        window.addEventListener( "pageshow", function ( event ) {
            var historyTraversal = event.persisted || 
                                    ( typeof window.performance != "undefined" && 
                                        window.performance.navigation.type === 2 );
            if ( historyTraversal ) {
                // Handle page restore.
                window.location.reload();
            }
        });

    </script>

    <style>
        .wrapper {
            display: flex;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 80vh;
        }
        .landerCenter {
            width: 390px;
            max-width: min(390px, 90vw);
            align-self: center;
        }
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type="number"] {
            -moz-appearance: textfield;
        }
    </style>
{{end}}
