{{define "head"}}{{end}}



{{define "body"}}

<div class="wrapper">
    <div class="landerCenter" id="formWrapper">
        <h3>
            Invite User
        </h3>
        <p class="pb-1">
            <small>
                Please fill in with information about the user you are inviting.
            </small>
        </p>
        <form action="/invite/" method="POST" onsubmit="submitLoader()">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="John" required>
                </div>
                <div class="col-md-6">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Doe" required>
                </div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="user@example.com" required>
            </div>

            <div class="mb-3">
                <label for="state" class="form-label">State/Province</label>
                <input type="text" class="form-control" id="state" name="state" placeholder="Anytown" required>
            </div>

            <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <select class="form-select" id="country" name="country" required>
                    <option selected disabled>Choose...</option>
                    {{ range .Countries }}
                        <option value="{{.Alpha3}}">{{.Name}}</option>
                    {{ end }}
                    </optgroup>
                </select>
            </div>

            {{ if gt (len .OptionalGroup) 0 }}
                <div class="mb-3">
                    <label for="groupOptional" class="form-label">Optional Groups</label>
                    {{range $key, $value := .OptionalGroup}}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="{{$key}}" id="groupOptional-{{$key}}" value="yes">
                            <label class="form-check-label" for="groupOptional-{{$key}}">
                                {{$value}}
                            </label>
                        </div>  
                    {{end}}
                </div>
            {{end}}

            <div class="mb-3">
                <label for="affiliation" class="form-label">Affiliation</label>
                <select class="form-select" id="affiliation" name="affiliation" required>
                    <option selected disabled>Choose...</option>
                    {{range $key, $value := .Affiliation}}
                        <option value="{{$key}}">{{$value}}</option>
                    {{end}}
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div class="pt-5">
            <small>
                <a href="/invite/sent" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover text-muted">View sent invites</a>
            </small>
        </div>

        <div style="position: absolute; bottom: 0px; right: 0px;" class="p-3 text-body-tertiary">
            <small>Powered by <a href="https://go.hadleyso.com/netid-activate-app" class="text-reset" target="_blank">NetID Activate</a></small>
        </div>

    </div>

    <div class="landerCenter" id="loadingWrapper" style="display: none;">
        <p>
            <div class="spinner-border" role="status">
            </div>
            &emsp13;One moment, processing...
        </p>

    </div>

</div>

    <script>
        function submitLoader() {
            document.getElementById("formWrapper").style.display = "none";
            document.getElementById("loadingWrapper").style.display = "block";
        }
    </script>

<style>
    .wrapper {
        display: flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80vh;
    }

    .landerCenter {
        width: 390px;
        max-width: min(390px, 90vw);
        align-self: center;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
</style>
{{end}}