{{define "head"}}
<meta http-equiv="Cache-Control" content="no-store" />
{{end}}

{{define "bodyTitle"}}
    <div class="row">
        <h3 style="margin-left: auto;margin-right: auto;" class="landerCenter px-0">
            Invite User
        </h3>
    </div>
{{end}}

{{define "body"}}

<div class="wrapper">
    
    <div class="landerCenter" id="formWrapper">
        <p class="pb-1">
            <small>
                Fill in this section with details about the invited user.
            </small>
        </p>

        <form action="/invite/" method="POST" onsubmit="submitLoader()">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="John" required>
                </div>
                <div class="col-md-6">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Doe" required>
                </div>
            </div>

            <div class="mb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="user@example.com" required>
            </div>

            <div class="mb-3">
                <label for="state">State/Province</label>
                <input type="text" class="form-control" id="state" name="state" placeholder="Anytown" required>
            </div>

            <div class="mb-3">
                <label for="country">Country</label>
                <select class="form-select" id="country" name="country" required>
                    <option value="" selected disabled>Choose...</option>
                    {{ range .Countries }}
                        <option value="{{.Alpha3}}">{{.Name}}</option>
                    {{ end }}
                    </optgroup>
                </select>
            </div>

            {{ if gt (len .OptionalGroup) 0 }}
                <div class="mb-3">
                    <label for="groupOptional">Optional Groups</label>
                    {{range $key, $value := .OptionalGroup}}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="{{$key}}" id="groupOptional-{{$key}}" value="yes">
                            <label class="form-check-label" for="groupOptional-{{$key}}">
                                {{$value}}
                            </label>
                        </div>  
                    {{end}}
                </div>
            {{end}}

            <div class="mb-3">
                <label for="affiliation">Affiliation</label>
                <select class="form-select" id="affiliation" name="affiliation" required>
                    <option value="" selected disabled>Choose...</option>
                    {{range $key, $value := .Affiliation}}
                        <option value="{{$key}}">{{$value}}</option>
                    {{end}}
                </select>
            </div>

            <div class="mb-3">
                <label for="onboarding">Onboarding Options</label>
                <select class="form-select" id="onboarding" name="onboarding" required>
                    <option value="" selected disabled>Choose...</option>
                    <option value="invite">Only Invite (user selects username)</option>
                    <option value="create">Create User and Invite</option>
                </select>
            </div>

            <div class="mb-3 d-none" id="usernameWrapper">
                <label for="username">Username</label>
                <p style="font-size: smaller;" class="mb-0">
                    Click check to validate username before submitting
                </p>
                <div class="d-flex align-items-center">
                    <input type="text" class="form-control me-2" id="username" name="username" pattern="[a-z0-9]+">

                    <button type="button" class="btn btn-sm d-flex align-items-center justify-content-center" id="checkUsername">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e2793b" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                        </svg>
                    </button>
                </div>
            </div>


            <script>
                document.getElementById('onboarding').addEventListener('change', function () {
                    const wrapper = document.getElementById('usernameWrapper');
                    const targetFormItem = document.getElementById('username');
                    const firstName = document.getElementById('firstName').value;
                    const lastName = document.getElementById('lastName').value;
                    const allowed = Math.max(1, 6 - lastName.length);

                    if (this.value === 'create') {
                        wrapper.classList.remove('d-none');
                        targetFormItem.required = true;
                        document.getElementById('submit').disabled = true;
                        targetFormItem.value = ( firstName.slice(0, allowed) + lastName ).toLowerCase();
                    } else {
                        wrapper.classList.add('d-none');
                        targetFormItem.required = false;
                        document.getElementById('submit').disabled = false;
                    }
                });
            </script>
            <script>
                document.getElementById('checkUsername').addEventListener('click', async function () {
                    const uname = document.getElementById('username').value.trim();

                    if (!uname) {
                        document.getElementById('submit').disabled = true;
                        alert("username invalid");
                        return;
                    }

                    try {
                        const response = await fetch(`/invite/validateUsernameOption?uname=${encodeURIComponent(uname)}`, {
                            method: 'GET'
                        });

                        if (response.status === 200) {
                            document.getElementById('submit').disabled = false;
                        } else {
                            document.getElementById('submit').disabled = true;
                            alert("username invalid");
                        }
                    } catch (err) {
                        document.getElementById('submit').disabled = true;
                        alert("username invalid");
                    }
                });
            </script>



            <button type="submit" class="btn btn-primary mt-2" id="submit">Submit</button>
        </form>

        <div class="pt-5">
            <small>
                <a href="/invite/sent" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover text-muted">View sent invites</a>
            </small>
        </div>

        <div style="position: fixed; bottom: 0px; right: 0px;" class="p-3 text-body-tertiary">
            <small>Powered by <a href="https://go.hadleyso.com/netid-activate-app" class="text-reset" target="_blank">NetID Activate</a></small>
        </div>

    </div>

    <div class="landerCenter" id="loadingWrapper" style="display: none;">
        <p>
            <div class="spinner-border" role="status">
            </div>
            &emsp13;One moment, processing...
        </p>

    </div>

</div>

    <script>
        function submitLoader() {
            document.getElementById("formWrapper").style.display = "none";
            document.getElementById("loadingWrapper").style.display = "block";
        }
    </script>

<style>
    .wrapper {
        display: flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80vh;
    }

    .landerCenter {
        width: 390px;
        max-width: min(390px, 90vw);
        align-self: center;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
    input.form-control:placeholder-shown,
    .form-select:invalid,
    .form-select option[value=""] {
        background-color: #e9ecef !important;
        border-color: black;
        border-width: 0.8px;
    }
</style>
{{end}}