<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{.Tenant}} Invite</title>
</head>

<body>
    <p>Hello,</p>
    <p>
        You have been invited to create an account in {{.Tenant}}. Please visit <a
            href="{{.ServerURL}}">{{.ServerURL}}</a> to accept.
    </p>
    <footer style="padding-top: 15px; font-size: small;">
        -- <br>
        {{ if .ServiceProvider }}
        <a href="{{.ServiceProvider}}">Service Provider</a>  - 
        {{- end}}
        {{ if .PrivacyPolicy }}
        <a href="{{.PrivacyPolicy}}">Privacy Policy</a>  - 
        {{- end}}
        {{ if .SiteName }}
        {{.SiteName}}
        {{- end}}
    </footer>

    <style>
        body {
           font-family: Calibri, sans-serif;
        }
        a:hover,
        a:visited {
            color: #e57b38;
        }
    </style>
</body>

</html>