<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{.Tenant}} ActivationOTP Token</title>
</head>

<body>
    <p>Hello,</p>
    <p>
        A one time code was requested on {{.SiteName}} for {{.Tenant}}. If you did not request this, you can safely
        ignore this message.
    </p>    
    <p>
        Your one time code is {{.Code}}.
    </p>
    <footer style="padding-top: 15px; font-size: small;">
        -- <br>
        {{ if .ServiceProvider }}
        <a href="{{.ServiceProvider}}">Service Provider</a>  - 
        {{- end}}
        {{ if .PrivacyPolicy }}
        <a href="{{.PrivacyPolicy}}">Privacy Policy</a>  - 
        {{- end}}
        {{ if .SiteName }}
        {{.SiteName}}
        {{- end}}
    </footer>

    <style>
        body {
            font-family: Calibri, sans-serif;
        }

        a:hover,
        a:visited {
            color: #e57b38;
        }
    </style>
</body>

</html>